<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Change pass</h1>
    </div>

    <div class="col-12 col-md-6">
      <div class="card card-block">
        <form (ngSubmit)="changePass()" name="changePassForm">
          <div class="form-group">
            <label for="oldPass" class="sr-only">Old password</label>
            <input type="password" id="oldPass" name="oldPass" class="form-control" placeholder="Old password" required autofocus
            [(ngModel)]="oldPass">
          </div>

          <div class="form-group">
            <label for="newPass" class="sr-only">New password</label>
            <input type="password" id="newPass" name="newPass" class="form-control" placeholder="New password" required autofocus
            [(ngModel)]="newPass">
          </div>

          <button class="btn btn-primary" type="submit" (submit)="changePass()">Change password</button>

          <div *ngIf="changePassInfo">
            <br />
            {{ changePassInfo }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Devices</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <h4>Linked devices</h4>

      <div class="card card-block">
        <p *ngIf="!devices || devices.length <= 0">
          No devices linked!
        </p>

        <table *ngIf="devices &amp;&amp; devices.length > 0" class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Enabled?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let device of devices; let i = index;"
            (click)="selectDevice(device)"
            [class.table-active]="device === selectedDevice">
              <th scope="row">{{ i }}</th>
              <td>{{ device.name }}</td>
              <td>{{ device.enabled }}</td>
            </tr>
          </tbody>
        </table>

        <div>
          <button class="btn btn-primary" [disabled]="!selectedDevice" (click)="toggleEnableSelected()">
            <span *ngIf="!selectedDevice">
              Enable/Disable
            </span>
            <span *ngIf="selectedDevice &amp;&amp; selectedDevice.enabled">
              Disable
            </span>
            <span *ngIf="selectedDevice &amp;&amp; !selectedDevice.enabled">
              Enable
            </span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h4>Link new device</h4>

      <div class="card card-block">
        <form (ngSubmit)="startCreateNewDevice()" name="newDeviceForm">
          <div class="form-group">
            <label for="devName" class="sr-only">Name</label>
            <input type="text" id="devName" name="devName" class="form-control" placeholder="Device name" required autofocus
            [(ngModel)]="newDeviceName">
          </div>

          <button class="btn btn-primary" type="submit" (submit)="startCreateNewDevice()">Get QRCode for linking</button>
          <br class="hidden-md-up"/>
          <button class="btn btn-primary" [disabled]="!tempGuid" (click)="stopCreateNewDevice()">Stop linking</button>
        </form>

        <app-qr-code *ngIf="tempGuid" [value]="tempGuid" [size]="150"></app-qr-code>
      </div>
    </div>
  </div>
</div>
